fastapi==0.115.0
uvicorn[standard]==0.32.0
pillow==10.4.0
transformers==4.45.0
torch==2.2.2
diffusers==0.30.0
huggingface_hub==0.23.2
colorthief==0.2.1
pydantic==2.9.0
pydantic-settings==2.5.0
requests==2.32.3
pymongo==4.9.2
motor==3.6.0
python-dotenv==1.0.1
pytrends==4.9.2
python-multipart==0.0.9
aiofiles==24.1.0
PyJWT==2.8.0
